*{
    font-family: monospace;
}
body main .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 800px;
}

#value {
    margin-bottom: 10px;
    font-size: 28px;
}

h1{
    font-size: 34px;
}

button {
    margin: 10px;
    font-size: 14px;
    padding: 10px 15px 10px 15px;
    border: none;
    border-radius: 8px;
    background-color: rgb(65, 65, 65);
    color: white;
}

button:hover{
    background-color: grey;
}